
.container {
    margin: 0;
    padding: 0;
    width: 100%
}
.jumbotron {
    margin: 0;
    /*width: 100%;*/
    padding: 0;
    text-align: center;
    background-size: 100%;
    background-image: url("../img/pizzapic.png");
    background-repeat: no-repeat;
}
h1 {
background-color: white;
    opacity: 60%;
}
