
/*.container {*/
/*    margin: auto;*/
/*    padding: 0;*/
/*    width: 90%;*/
/*    !*display: flex;*!*/
/*    !*flex-direction: column;*!*/

/*}*/
.jumbotron {
    background-image: url("../img/pizzapic.png");
    background-repeat: no-repeat;
    text-decoration-color: black;
    /*box-sizing: border-box;*/
}
h1 {
    background-color: rgba(255,255,255, .4);
    opacity: 90%;
    font-size: 3em;
    text-align: center;
}
.signUp{
    color: #848487;
}
