* {
    box-sizing: border-box;
}
body {
    margin: 0;
    height: 900px;
    width: 1000px;
}
nav {
    background: #C4AE8E;
    width: 100%;
    display: flex;
    position: fixed;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}
nav a {
    text-decoration: none;
    /*font-weight: bold;*/
    color: rgb(183,38,25);
    font-family: 'Roboto', sans-serif;;
    display: inline-block;
    padding: .5em;
    align-items: center;
}
nav a:hover {
    background: #D0BFB6;
}
ul img {
    justify-items: center;
}
nave {
    justify-content: space-around;
}
img {
    height: 52px;
    padding: .001em;
}