* {
    box-sizing: border-box;
}
body {
    margin: 0;
    height: 900px;
    width: 1000px;
}
nav {
    background: #29c293;
    width: 100%;
    /*display: flex;*/
    position: fixed;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}
#logo {
margin: 0;
    padding: 0;
}
nav a {
    text-decoration: none;
    /*font-weight: bold;*/
    color: #3253a5;
    font-family: 'Roboto', sans-serif;;
    display: inline-block;
    padding: .5em;
    align-items: center;
}
nav a:hover {
    background: #D0BFB6;
}

nav {
    justify-content: space-around;
}
img {
    height: 52px;
    padding: .001em;
}