body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Ubuntu, sans-serif;
}

.message {
    /*width: 30%;*/
    font-weight: lighter;
    opacity: 80%;
}

.message-info {
    background-color: rgb(195, 217, 253);
    margin: 5px;
    color: darkblue;
    border-radius: 5px;
    padding: 5px;
    border: 1px solid lightgray;
}

.message-success {
    background-color: rgb(194,241,214);
    margin: 5px;
    color: green;
    border-radius: 5px;
    padding: 5px;
    border: 1px solid lightgray;
}

.message-warning {
    background-color: rgb(252,250,198);
    margin: 5px;
    color: rgb(125,103,29);
    border-radius: 5px;
    padding: 5px;
    border: 1px solid lightgray;
}

.message-error {
    background-color: rgb(255,205,210);
    margin: 5px;
    color: darkred;
    border-radius: 5px;
    padding: 5px;
    border: 1px solid lightgray;
}