.fancy-header {
    text-align: center;
    color: #923025; /* single line comment */
    text-decoration: underline;
    font-weight: bolder;
    font-size: 3em;
}

header p {
    color: #f8f0d0;
    font-weight: bold;
}

h2 {
    color: #e6781b;
    text-decoration: underline;
}

hr {
    border: 0;
    height: 5px;
    background-image: linear-gradient(to right, #923025, #1e493a);
}

body {
    background-color: #1e493a;
    opacity: 100%;
    background-size: 100%;
    background-image: url("../img/green-fibers.png");
    background-repeat: repeat-y;
}

ul {
    color: #0fb784;
    list-style: square inside;
}

ol {
    list-style: upper-roman;
    color: #0fb784;
    list-style-position: inside;
}

* {
    font-family: 'Nunito Sans', sans-serif;
}

table, th, td {
    border: 2px solid #0fb784;
    font-size: larger;
    color: #f8f0d0;
    text-align: center;
}

.center {
    margin: 0;
}

a:link {
    color: blue;
}

a:visited {
    color: purple;
}

a:hover {
    color: darkgreen;
}

a:active {
    color: red;
}

div>img {
    border: #0fb784 solid 7px;
}