body {
    background-color: #230A59;
}

.container {
    border: 2px solid red;
}

.weatherBox {
    justify-content: space-around;
    display: flex;
}

.card {
    text-align: center;
    align-content: center;
    /*background-color: #044BD9;*/
    background-image: linear-gradient(180deg, #230A59, lightslategrey);
    padding: 0;
    /*box-shadow: 0 0 1pt 2pt #829FD9;*/
    border-radius: 20px;
}

.card-footer {
    padding: 0;
    margin: 0;
    background: none;
}

#map {
    /*border: #829FD9 solid 1px;*/
    border-radius: 20px;
    box-shadow: 0 0 3pt 2pt lightslategrey;
}

* {
    font-family: 'Cairo', sans-serif;
}

.date-text {
    font-weight: bolder;
    color: whitesmoke;
}

.navbar {
    margin-top: 10px;
    margin-bottom: 10px;
}

#btn {
    color: red;
    /*outline: 1px solid #F25116;*/
    box-shadow: 0 0 3pt 2pt #F25116;
}

.highText {
    color: #F25C05;
}

.lowText {
    color: #230A59;
}